@import "https://js.arcgis.com/4.25/@arcgis/core/assets/esri/themes/light/main.css";

.esri-view {
  padding: 0px;
 margin:20px;
  height: 500px;
  width:500px;
}
#map {
  padding: 0px;

  overflow: hidden;
  height: 500px;
  width:500px;
}
